@import "../styles/variables.scss";
@import "../styles/mixins.scss";

main {
  padding: 2rem 2rem;
  font-family: Roboto;

  div {
    margin-bottom: 3rem;
  }

  @include tablet {
    padding: 2rem 1rem;
  }
}
